namespace: postiz-application

db-password: "your-secure-db-password"
db-root-password: "your-secure-root-password"

app-key: "base64:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
api-secret: "your-api-secret"
user-password: "your-secure-admin-password"
